<!DOCTYPE html>
<html lang="en">
<head>
    <!--Links meta-->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website of EBEC Aveiro 2017 - A students engineering competition organized by BEST Aveiro.">
    <meta name="keywords" content="EBEC">
    <meta name="author" content="ITBugs">

    <!--Barra de navegacao-->
    <link type="image/x-icon" href="../../assets/img/logos/roldana_laranja-01.png" rel="shortcut icon">
    <title>EBEC Challenge Aveiro 2018</title>

    <!--Google Apis-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Kaushan+Script'>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'>
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'>

    <!--Links jquery-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">

    <!--Links Form-validation-->
    <link rel="stylesheet" href="../../assets/form-validation/css/formValidation.min.css">
    <script type="text/javascript" src="../../assets/form-validation/js/formValidation.min.js"></script>
    <script type="text/javascript" src="../../assets/form-validation/js/framework/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../../assets/css/custom.css">
    <script type="text/javascript" src="../../assets/js/custom.js"></script>


    <link rel="stylesheet" href="../../assets/quote-carousel/quote-carousel.css">
    <link rel="stylesheet" href="../../assets/youtube-tv/ytv.css">
    <link rel="stylesheet" type="text/css" href="../../assets/pnotify/css/pnotify.custom.min.css" media="all">
    <script type="text/javascript" src="../../assets/pnotify/js/pnotify.custom.min.js"></script>
    <link rel="stylesheet" href="../../assets/fotorama-slider/fotorama.css">
    <script type="text/javascript" src="../../assets/fotorama-slider/fotorama.js"></script>
    <script type="text/javascript" src="../../assets/full-width-slider/js/jssor.slider.mini.js"></script>





</head>
<body>

<div id="holder">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img class="nav_logo"  height=""
                         src="../../assets/img/logos/roldana_branca-01.png">
                    <a href="http://bestaveiro.web.ua.pt/" class="navbar-brand" target="_blank">

            </div>
            <div class="navbar-header clearfix pull-right">
                <a class="navbar-brand" target="_blank">
                    <img class="nav_logo_right" src="../../assets/img/logos/best_aveiro_logo.png">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav hvr-sweep-to-right">
                    <li>
                        <a class="page-scroll" href="<?php echo base_url('#EBEC-Challenge')?>">EBEC Challenge Aveiro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="<?php echo base_url('index.php/frontpage/apply')?>">Inscrição</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="<?php echo base_url('index.php/frontpage/faqs')?>">FAQs</a>
                    </li>

                    <!--                      <li>-->
                    <!--                          <a class="page-scroll" href="--><?php //echo base_url('index.php/frontpage/news')?><!--">Notícias</a>-->
                    <!--                      </li>-->

                    <!--                      <li>-->
                    <!--                        <a class="page-scroll dropdown-toggle" id="box" on onclick="myFunction()" data-toggle="dropdown" href="#" id="dropdown-ebec">Parcerias <b class="caret"></b></a>-->
                    <!--                          <ul class="dropdown-menu dropdown-menu-2">-->
                    <!--                            <li>-->
                    <!--                              <a class="page-scroll" href="--><?php //echo base_url('index.php/frontpage/partners')?><!--">Parceiros</a>-->
                    <!--                           </li>-->
                    <!--                           <li>-->
                    <!--                              <a class="page-scroll" href="--><?php //echo base_url('index.php/frontpage/querparceiro')?><!--">Quer ser nosso parceiro?</a>-->
                    <!--                           </li>-->
                    <!---->
                    <!--                          </ul>-->
                    <!--                      </li>-->
                    <li>
                        <a class="page-scroll" href="<?php echo base_url('index.php/frontpage/partners')?>">Parcerias</a>
                    </li>
                    <script>
                        var x = document.getElementById('box');
                        x.onclick=myFunction()
                        function myFunction() {
//                              var x = document.getElementById('box');
                            if (x.style.color === 'white') {
                                x.style.color = 'orange';
                            } else {
                                x.style.color='white';
                            }
                        }

                    </script>
                    <li>
                        <a class="page-scroll" href="index.html/frontpage/contacts">Contactos</a>
                    </li>
                </ul>

                <ul class="nav2 navbar-nav pull-right">
                    <li>
                        <a class="page-scroll" href="<?php echo base_url('index.php/frontpage/en')?>">EN</a>
                    </li>
                </ul>

                <!--                   /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    </nav>
</div>













<!-- Annual partners -->
<section class="footer_2" style="padding: 20px 40px">
    <div class="row seven-cols vertical-align">
        <div class="col-md-1 col-sm-4 col-xs-4"></div>
        <div class="col-md-1 col-sm-4 col-xs-4"></div>
        <div class="col-md-1 col-sm-4 col-xs-4">
            <a href="https://www.ua.pt/" target="_blank">
                <img class="img-responsive img-grayscale img-footer2 img-center" alt="" src="<?php echo base_url('assets/img/partners/annual/ua.png') ?>">
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4">
            <a href="http://www.ipdj.pt/" target="_blank">
                <img class="img-responsive img-grayscale img-footer img-center" alt="" src="<?php echo base_url('assets/img/partners/annual/ipdj.png') ?>">
            </a>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-4">
            <a href="http://www.ordemengenheiros.pt/" target="_blank">
                <img class="img-responsive img-grayscale img-footer img-center" alt="" src="<?php echo base_url('assets/img/partners/annual/ordem.png') ?>">
            </a>
        </div>
        <!--		<div class="col-md-1 col-sm-4 col-xs-4">-->
        <!--			<a href="https://www.indasa-abrasives.com/" target="_blank">-->
        <!--				<img class="img-responsive img-grayscale img-footer img-center" alt="" src="--><?php //echo base_url('assets/img/partners/annual/indasa.png') ?><!--">					-->
        <!--			</a>-->
        <!--		</div>-->
        <!--		<div class="col-md-1 col-sm-4 col-xs-4">-->
        <!--			<a href="http://www.print4fun3d.com/" target="_blank">-->
        <!--				<img class="img-responsive img-grayscale img-footer img-center" alt="" src="--><?php //echo base_url('assets/img/partners/annual/print4fun3d.png') ?><!--">-->
        <!--			</a>-->
        <!--		</div>	-->
        <!--		<div class="col-md-1 col-sm-4 col-xs-4">-->
        <!--			<a href="https://www.kopystation.pt/" target="_blank">-->
        <!--				<img class="img-responsive img-grayscale img-footer img-center" alt="" src="--><?php //echo base_url('assets/img/partners/annual/kopystation.png') ?><!--">-->
        <!--			</a>-->
        <!--		</div>-->
        <!--		<div class="col-md-1 col-sm-4 col-xs-4">-->
        <!--			<a href="http://www.asformacao.com/" target="_blank">-->
        <!--				<img class="img-responsive img-grayscale img-footer img-center" alt="" src="--><?php //echo base_url('assets/img/partners/annual/asf.png') ?><!--">-->
        <!--			</a>-->
        <!--		</div>	-->

    </div>
</section>



</body>
</html>
