.scrollToTop{
    width:100px;
    height:130px;
    padding:10px;
    text-align:center;
    /*background: whiteSmoke;*/
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    /*display:none;*/
    background: url('back.png') no-repeat  ;
    background-size: 50% auto;
    margin-top: 300px;
}
.scrollToTop:hover{
    text-decoration:none;
}